Repository kuntiarso/react-ts-react-query: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "./src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{html,json,css,js,ts}": ["prettier --write"]
}

feat: setup pages and routes
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/Core/Navbar.tsx
  src/components/Layout/AppLayout.tsx
  src/components/index.ts
  src/main.tsx
  src/pages/Details.tsx
  src/pages/Home.tsx
  src/routes/index.tsx
  tailwind.config.js
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(home): add template table
  src/components/Layout/AppLayout.tsx
  src/pages/Details.tsx
  src/pages/Home.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(user-list): handle create and delete user
  .lintstagedrc.json
  database.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/Layout/AppLayout.tsx
  src/config/index.ts
  src/features/user/api/useCreateUserMutation.ts
  src/features/user/api/useDeleteUserMutation.ts
  src/features/user/api/useGetUsersQuery.ts
  src/features/user/api/useUpdateUserMutation.ts
  src/features/user/components/UserTable.tsx
  src/features/user/index.ts
  src/features/user/types.ts
  src/features/user/views/UserListView.tsx
  src/pages/Details.tsx
  src/pages/Home.tsx
  src/pages/UserDetail.tsx
  src/pages/UserList.tsx
  src/routes/index.tsx
  src/vite-env.d.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename config files and remove new line import
  .eslintrc
  .eslintrc.js
  .lintstagedrc
  .prettierrc
  .prettierrc.js
  src/features/user/api/useDeleteUserMutation.ts
  src/features/user/components/UserTable.tsx
  src/features/user/views/UserListView.tsx
  src/main.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: adjust import sort rules
  src/App.tsx
  src/components/Layout/AppLayout.tsx
  src/features/user/components/UserTable.tsx
  src/features/user/views/UserListView.tsx
  src/main.tsx
  src/pages/UserDetail.tsx
  src/routes/index.tsx
  src/vite-env.d.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(patch-user): new feature patch user with userId
  .gitignore
  database.json
  package.json
  pnpm-lock.yaml
  src/features/user/api/useCreateUserMutation.ts
  src/features/user/api/useGetUserDetailQuery.ts
  src/features/user/api/usePatchUserMutation.ts
  src/features/user/components/UserTable.tsx
  src/features/user/index.ts
  src/features/user/types.ts
  src/features/user/views/UserDetailView.tsx
  src/features/user/views/UserListView.tsx
  src/hooks/useFaker.ts
  src/hooks/useSlugify.ts
  src/pages/UserDetail.tsx
  src/pages/UserList.tsx
  src/routes/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: adjust .gitignore file
  .gitignore
Due: none

chore: adjust package.json
  package.json
Due: prettier --write

chore: remove unused import
  src/features/user/components/UserTable.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename .linstagedrc file
  .lintstagedrc.json
Due: prettier --write

chore: remove unused imports
  .lintstagedrc
  src/features/user/api/useGetUsersQuery.ts
  src/hooks/useFaker.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: try pretty-quick lib
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/routes/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: add pull request template to repo
  .github/pull_request_template.md
Due: none

chore: uninstall pretty-quick package
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add pull-request template to repository (#1)
  .github/pull_request_template.md
  package.json
  src/routes/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(eslint): cleanse eslint warning code
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/routes/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(package-json): remove pr script
  package.json
Due: prettier --write

feat(package-json): rewrite pr script with template
  package.json
Due: prettier --write

chore(package-json): update pr script
  package.json
Due: prettier --write

chore(package-json): remove fill flag on pr script
  package.json
Due: prettier --write

feat(eslint): cleanse eslint warning code (#5)
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/routes/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat(readme): write project documentation on readme.md
  README.md
Due: none

feat(readme): write project documentation on readme.md (#6)
  README.md
Due: none
